* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100%;
}

.header {
  background-color: #b0b0b0;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  display: -webkit-flex;
  display: flex;
  width: 100%;
}

.image {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  object-fit: cover;
}

.link {
  display: center;
  margin: auto;
  font-size: 25px;
}

.footer {
  padding: 10px;
  text-align: center;
}

#cambiante:hover {
    background-color: red;
}

@media (max-width: 600px) {
  .content {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .header {
    font-size: 20px;
  }
}
